<div class="jumbotron mt-4">
    <div align="center">
        <h1 class="display-4">{{ user.name }} {{user.lastname}}</h1>
        <h3>{{ user.email }}</h3>
        <p><strong>Phone:</strong> {{user.phone}}</p>
        <br>
        <h4><strong>Adress</strong></h4>
        <p>{{user.street}} {{user.number}}, {{user.city}}</p>
    </div>
    <hr>
    <br>
    <div align="center">
        <a href="/users/options" role="button" class="btn btn-success btn-sm">Options</a>
    </div>
</div>
</div>